#root,
.grid{
  display: flex;
}

#root {
  flex-flow: column;
}

.grid {
  border: solid .5px #000;
  flex-wrap: wrap; 
}

.skbox{
  border: solid .5px #000;
  margin: 0;
  padding: 0;
}
.skbox.drawn {
  background-color: #000;
}